<!--<h1>Entries</h1>-->
<% content_for :title do %>
  Meal Log &ndash; <%= DateTime.now.strftime("%d/%m/%Y %H:%M") %>
<% end %>

<div class="columns mt-6 is-centered">
  <% @entries.each do |entry| %>
    <div class="column is-one-quarter">
      <div class="card">
        <header class="card-header">
          <p class="card-header-title">
            <%= entry.meal_type %>
          </p>
        </header>
        <div class="card-content">
          <div class="content">
            <p>Calories : <span class="has-text-weight-bold"><%= entry.calories %></span></p>
            <p>Proteins : <span class="has-text-weight-bold"><%= entry.proteins %></span></p>
            <p>Carbohydrates : <span class="has-text-weight-bold"><%= entry.carbs %></span></p>
            <p>Fats : <span class="has-text-weight-bold"><%= entry.fats %></span></p>
            <p class="is-italic">Logged on : <%= entry.created_at.strftime("%d/%m/%Y %H:%M") %>, <%= time_ago_in_words(entry.created_at) %> ago</p>
          </div>
        </div>
        <div class="card-footer">
          <%= link_to "Show Entry", entry, class:"card-footer-item" %>
          <%= link_to "Edit Entry", edit_entry_path(entry), class:"card-footer-item" %>
          <%= link_to "Delete Entry", entry, method: :delete, data: {confirm: 'Are you sure?' }, class:"card-footer-item" %>
        </div>
      </div>
    </div>
  <% end %>
</div>
